:root{
    --fundo: 	#F5DEB3 ;
    --cor-texto: #ffffff;
    --cor-texto-preto: #000000;
    --frente-cartao: #F4A460;
    --verso-cartao: #D2691E;
}
body{
    background-color: var(--fundo);
}

.Cartão__Conteúdo{
background-color: var(--frente-cartao);
text-align: center;
}

.Cartão__Conteúdo h3{
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto-preto);
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
    position: absolute;
    border-radius: 0.6rem;
    font-size: 1vw;
}

.Cartão__Conteúdo p{
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1vw;
}

.Cartão__Conteúdo__Pergunta p{
color: var(--cor-texto);
font-weight: 500;
}

.Cartão__Conteúdo__Resposta p{
    color: var(--verso-cartao);
    font-weight: 700;
}